<%= form_for(@landmark) do |f| %>
  <% if @landmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landmark.errors.count, "error") %> prohibited this landmark from being saved:</h2>

      <ul>
      <% @landmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_published %><br />
    <%= f.check_box :is_published %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :location_street %><br />
    <%= f.text_field :location_street %>
  </div>
  <div class="field">
    <%= f.label :location_city %><br />
    <%= f.text_field :location_city %>
  </div>
  <div class="field">
    <%= f.label :location_country %><br />
    <%= f.text_field :location_country %>
  </div>
  <div class="field">
    <%= f.label :location_zip %><br />
    <%= f.text_field :location_zip %>
  </div>
  <div class="field">
    <%= f.label :location_latitude %><br />
    <%= f.text_field :location_latitude %>
  </div>
  <div class="field">
    <%= f.label :location_longitude %><br />
    <%= f.text_field :location_longitude %>
  </div>
  <div class="field">
    <%= f.label :public_transit %><br />
    <%= f.text_area :public_transit %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :checkins %><br />
    <%= f.number_field :checkins %>
  </div>
  <div class="field">
    <%= f.label :were_here_count %><br />
    <%= f.number_field :were_here_count %>
  </div>
  <div class="field">
    <%= f.label :talking_about_count %><br />
    <%= f.number_field :talking_about_count %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :general_info %><br />
    <%= f.text_area :general_info %>
  </div>
  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :likes %><br />
    <%= f.number_field :likes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
