<h1>Listing landmarks</h1>

<table>
  <tr>
    <th>Fb username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @landmarks.each do |landmark| %>
  <tr>
    <td><%= landmark.fb_username %></td>
    <td><%= link_to 'Show', landmark %></td>
    <td><%= link_to 'Edit', edit_landmark_path(landmark) %></td>
    <td><%= link_to 'Destroy', landmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Landmark', new_landmark_path %>
