<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @landmark.name %>
</p>

<p>
  <b>Is published:</b>
  <%= @landmark.is_published %>
</p>

<p>
  <b>Website:</b>
  <%= @landmark.website %>
</p>

<p>
  <b>Username:</b>
  <%= @landmark.username %>
</p>

<p>
  <b>Description:</b>
  <%= @landmark.description %>
</p>

<p>
  <b>About:</b>
  <%= @landmark.about %>
</p>

<p>
  <b>Location street:</b>
  <%= @landmark.location_street %>
</p>

<p>
  <b>Location city:</b>
  <%= @landmark.location_city %>
</p>

<p>
  <b>Location country:</b>
  <%= @landmark.location_country %>
</p>

<p>
  <b>Location zip:</b>
  <%= @landmark.location_zip %>
</p>

<p>
  <b>Location latitude:</b>
  <%= @landmark.location_latitude %>
</p>

<p>
  <b>Location longitude:</b>
  <%= @landmark.location_longitude %>
</p>

<p>
  <b>Public transit:</b>
  <%= @landmark.public_transit %>
</p>

<p>
  <b>Phone:</b>
  <%= @landmark.phone %>
</p>

<p>
  <b>Checkins:</b>
  <%= @landmark.checkins %>
</p>

<p>
  <b>Were here count:</b>
  <%= @landmark.were_here_count %>
</p>

<p>
  <b>Talking about count:</b>
  <%= @landmark.talking_about_count %>
</p>

<p>
  <b>Category:</b>
  <%= @landmark.category %>
</p>

<p>
  <b>General info:</b>
  <%= @landmark.general_info %>
</p>

<p>
  <b>Id:</b>
  <%= @landmark.id %>
</p>

<p>
  <b>Link:</b>
  <%= @landmark.link %>
</p>

<p>
  <b>Likes:</b>
  <%= @landmark.likes %>
</p>


<%= link_to 'Edit', edit_landmark_path(@landmark) %> |
<%= link_to 'Back', landmarks_path %>
