<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @landmark.name %>
</p>

<p>
  <b>FB Username:</b>
  <%= @landmark.username %>
</p>

<p>
  <b>FB ID:</b>
  <%= @landmark.id %>
</p>

<%= link_to 'Edit', edit_landmark_path(@landmark) %> |
<%= link_to 'Back', landmarks_path %>
