<h1>Listing events</h1>

<table>
  <tr>
    <th>Description</th>
    <th>End time</th>
    <th>Is date only</th>
    <th>Id</th>
    <th>Location</th>
    <th>Name</th>
    <th>Owner name</th>
    <th>Owner category</th>
    <th>Owner</th>
    <th>Privacy</th>
    <th>Start time</th>
    <th>Timezone</th>
    <th>Updated time</th>
    <th>Venue</th>
    <th>Venue latitude</th>
    <th>Venue longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.description %></td>
    <td><%= event.end_time %></td>
    <td><%= event.is_date_only %></td>
    <td><%= event.id %></td>
    <td><%= event.location %></td>
    <td><%= event.name %></td>
    <td><%= event.owner_name %></td>
    <td><%= event.owner_category %></td>
    <td><%= event.owner_id %></td>
    <td><%= event.privacy %></td>
    <td><%= event.start_time %></td>
    <td><%= event.timezone %></td>
    <td><%= event.updated_time %></td>
    <td><%= event.venue_id %></td>
    <td><%= event.venue_latitude %></td>
    <td><%= event.venue_longitude %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
