<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Is date only:</b>
  <%= @event.is_date_only %>
</p>

<p>
  <b>Id:</b>
  <%= @event.id %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Owner name:</b>
  <%= @event.owner_name %>
</p>

<p>
  <b>Owner category:</b>
  <%= @event.owner_category %>
</p>

<p>
  <b>Owner:</b>
  <%= @event.owner_id %>
</p>

<p>
  <b>Privacy:</b>
  <%= @event.privacy %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>Timezone:</b>
  <%= @event.timezone %>
</p>

<p>
  <b>Updated time:</b>
  <%= @event.updated_time %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue_id %>
</p>

<p>
  <b>Venue latitude:</b>
  <%= @event.venue_latitude %>
</p>

<p>
  <b>Venue longitude:</b>
  <%= @event.venue_longitude %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
